@tailwind base;
@tailwind components;
@tailwind utilities;


input[type="date"].date-input::-webkit-calendar-picker-indicator {
    filter: invert(0.5) sepia(1) saturate(5) hue-rotate(175deg);
}

input:checked {
    background-color: #22c55e;
    /* bg-green-500 */
}

input:checked~span:last-child {
    --tw-translate-x: 1.75rem;
    /* translate-x-7 */
}